---
import Layout from "~/layouts/Layout.astro";
---

<Layout
	title="Curstantine | to_favicon()"
	description="Convert your logos into a web-friendly favicon all inside your browser!"
>
	<main class="min-h-screen flex flex-col items-center justify-center">
		<h1 class="text-2xl font-semibold font-mono">
			to_favicon<span class="text-accent-1">()</span>
		</h1>
		<span>Convert your logos into a web-friendly favicon all inside your browser!</span>
	</main>
</Layout>
