---
import FaviconForm from "~/components/FaviconForm";
import Layout from "~/layouts/Layout.astro";
---

<Layout
	title="Curstantine | to_favicon()"
	description="Convert your logos into a web-friendly favicon all inside your browser!"
>
	<noscript class="flex items-center gap-2 bg-accent-1 px-6 py-1 text-background">
		<div class="i-gravity-triangle-exclamation size-4 min-w-4" />
		<span class="text-wrap text-xs md:text-sm">
			Unfortunately this tool requires JavaScript to run. Support for no-js will not be considered.
		</span>
	</noscript>
	<main class="px-6 lg:container">
		<div class="flex flex-col justify-center py-3">
			<h1 class="font-semibold font-mono">
				to_favicon<span class="text-accent-1">()</span>
			</h1>
			<span class="text-xs">Convert your logos into a web-friendly favicon all inside your browser!</span>
		</div>

		<FaviconForm client:load />
	</main>
</Layout>

<script>
	const button = document.getElementById("take-me-home-country-road");
	button?.addEventListener("click", () => {
		window.history.back();
	});
</script>
