@reference "./global.css";

.selector[type="range"],
.vertical_selector[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	@apply bg-transparent rounded-none;
}

.selector[type="range"]::-webkit-slider-thumb,
.vertical_selector[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	@apply bg-transparent outline-2 outline-solid outline-white ring-black ring w-1 h-4;
}

.vertical_selector[type="range"] {
	writing-mode: vertical-lr;
	direction: rtl;
}

.vertical_selector[type="range"]::-webkit-slider-thumb {
	@apply h-1 w-4;
}

.display_selector[type="range"] {
	-webkit-appearance: none;
	appearance: none;
}
