---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Where are you? | Curstantine">
	<div class="p-12 prose">
		<p>
			Guck! You find yourself cast adrift, utterly alone, severed from all companions. The mind grows still,
			thoughts scattered like cherry blossoms in an autumn wind. As you languish upon what may well become your
			final resting place, awaiting the inevitable end, a divine presence manifests before you.
		</p>
		<p class="mt-4">
			The god speaks:
		</p>
		<p>
			"Do you wish... to return<a href="/" class="animate-blink">?</a>"
		</p>
	</div>
</Layout>
