---
import type { Blog } from "~/types";

interface Props {
	blog: Blog;
}

const { blog: { name, link, external, description } } = Astro.props;
---

<li>
	<a target={external ? "_blank" : undefined} rel={external ? "noreferrer noopener" : undefined} href={link}>
		{name}
	</a>
	{external && <span class="iconify gravity-ui--link size-3 mb-1 text-text-2"></span>}

	<span class="text-text-2 text-sm block">{description}</span>
</li>
