<div class="flex flex-col pt-6">
    <div class="inline-flex items-center text-text-2 mb-1">
        <div class="i-gravity-music-note w-4 h-4 mr-2"></div>
        <span class="text-sm">Now Playing</span>
    </div>

    <span class="text-sm text-accent-1">(Your Cat) Don't Stand a Chance</span>
    <span class="text-sm text-text-2">Mustard Service</span>
    <div class="inline-flex gap-2 text-xs text-text-2 ">
        <a href="h">ListenBrainz</span>
        <a href="">Spotify</span>
        <a href="">YouTube</a>
    </div>
</div>